# Env files
.env

# Minecraft dirs
plugins/
mc-backups/

# Dont ignore plugin config
!config/plugins

# Ignore datapacks' content
datapacks/*
!datapacks/.gitkeep

# testing dir
mcdata/

# Ignore env file
.mariadb.env

# docker-compose binary
docker-compose
